html{
    min-height:100%;
    height:100%;
}
body{
    display: flex;
    min-height:100%;
    margin:0;
    padding:0;
}

.page-wrapper {
    display: flex;
    min-height:100%;
    width:100%;
}

.main{
    background-color:#555555;
    flex:1;
    padding:30px;
}


@media only screen and (max-width:767px) {
    .sidemenu-wrapper{
        display:none;
    }
}

@media only screen and (min-width:767px) {
    .sidemenu-wrapper{
        width:240px;
        background-color:#555555;
        overflow:hidden;
    }
}


.sidemenu {
    margin: 10px;
}

.sidemenu-box {
    background-color:#FFFFFF;
    min-height:120px;
    margin-top:10px;
    color:#666666;
    word-wrap: break-word;
}

.sidemenu-box h4 {

    margin:0;
}

.main-contents {
    color:#666666;
    background-color:#FFFFFF;
    padding:30px;
    min-height:93%;
}


.main-contents-title {
    margin-bottom:100px;
    font-size:74px;
}

.main-contents-title a{
    color:#0b5394;
    text-decoration: none;
}

.main-contents-title a :visited{
    color:#0b5394;
    text-decoration: none;
}


.time-box{
    text-align:right;
    color:#999999;
    font-size:16px;
    font-weight: bold;
}

.inner-contents {
}


h1 {
    border-bottom: 2px solid #AAAAAA;
}

.main pre {
    border: 2px solid #AAAAAA;
    margin-top:3px;
    margin-bottom:3px;
}

.tag{
}

.tagbox {
    background-color:#DDDDDD;
    margin:3px;
}
